*~
.pytest_cache/
__version__.pyc
build/
neat/simulations/netsim.cpp
tests/__pycache__/
.DS_Store
*__pycache__
*cache/
.vscode
*.egg-info
*.pyc
*mech/
*tmp/
report/

src/neat/tools/simtools/nest/tmp/

# c++
*.bin
*.cpp
*.so

# neuron extensions
*x86_64/
*arm64/