# python caches
.pytest_cache/
build/
__pycache__/
*cache/
*.egg-info/
*.pyc

# other
*~
.DS_Store
.vscode
report/

# ignore installed models
src/neat/simulations/nest/tmp/
src/neat/simulations/neuron/tmp/

# cython generated
neat/simulations/netsim.cpp

# c++
*.bin
*.cpp
*.so

# neuron generated
*x86_64/
*arm64/