include LICENCE.txt

include neat/simulations/net/Ionchannels.h
include neat/simulations/net/Ionchannels.cc
include neat/simulations/net/netsim.pyx
include neat/simulations/net/NETC.h
include neat/simulations/net/NETC.cc
include neat/simulations/net/Synapses.h
include neat/simulations/net/Synapses.cc
include neat/simulations/net/Tools.cc

include src/neat/simulations/neuron/mech_storage/*.mod
include src/neat/simulations/nest/*.nestml